<% if @feed_items.any? %>
  <ol class="blogs">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>


<!-- <%# if @feed_items.any? %>
  <ol class="blogs">
    <%# @feed_items.each do |feed_item| %>
      <li>
        <h3><%#= feed_item.title %></h3>
        <p> <%#= feed_item.content %> </p>
        <%# if feed_item.images.any? %>
          <div class="image-container">
            <%# feed_item.images.each do |image| %>
              <%#= image_tag(url_for(image.photo)) %>
            <%# end %>
          </div>
        <%# end %>
        <p><%#= feed_item.content %></p> -->
      <!-- </li> -->
    <%# end %>
  <!-- </ol> -->
  <%#= will_paginate @feed_items %>
<%# end %>